<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Change Password | Django Auth</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="active"><a href="{% url 'change_password' %}">Change Password</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ><span class="glyphicon glyphicon-user"></span>welcome {{request.user.username}}</a></li>
      <li><a href="{% url 'signout' %}"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
    </ul>
  </div>
</nav>
</header>
<div class="login-form">
    <form  method="post">
        <h2 class="text-center">Change Password</h2>
        <h6 class="text-center">Fill up the form to change password</h6>
        {% include 'messages.html' %}
          {% csrf_token %}
        <div class="form-group">
            <input type="password" name="old_password" class="form-control" placeholder="Old Password" title="Enter Old Password" required>
        </div>
        <div class="form-group">
            <input type="password" name="new_password1" class="form-control" placeholder="New Password" title="Enter New Password" required>
        </div>
        <div class="form-group">
            <input type="password" name="new_password2" class="form-control" placeholder="Confirm Password" title="Enter Confirm Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><a href="{% url 'dashboard' %}"> <-  Back to Dashboard</a></label>
        </div>
    </form>
</div>
</body>
</html>